<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Navigation Bar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Tanky</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% url 'index' as index %}
          <li class="nav-item">
            <a class="nav-link {% if request.path == index %}active" aria-current="page{% endif %}" href="{{ index }}">Home</a>
          </li>
          {% url 'tank_list' as tank_list %}
          <li class="nav-item">
            <a class="nav-link {% if request.path == tank_list %}active" aria-current="page{% endif %}" href="{{ tank_list }}">Tanks</a>
          </li>
          {% if user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>