{% extends 'tanky/base.html' %}
{% load django_bootstrap5 %}

{% block bootstrap5_content %}
    <div class="row mt-3">
        <div class="col">
            <h2>Tank Detail</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul>
                <li><strong>Name:</strong> {{ object.name }}</li>
                <li><strong>Location:</strong> {{ object.location }}</li>
                <li><strong>Volume:</strong> {{ object.volume }}</li>
                <li><strong>Type:</strong> {{ object.get_tank_type_display }}</li>
                <li><strong>Substrate:</strong> {{ object.substrate }}</li>
                <li><strong>Filtration:</strong> {{ object.filter_media }}</li>
                <li><strong>Notes:</strong> {{ object.notes }}</li>
                <li><strong>History:</strong> {{ object.history }}</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Inhabitants</h3>
            <ul>
                {% for inhabitant in object.inhabitants.all %}
                    <li>{{ inhabitant.name }} ({{ inhabitant.species }})</li>
                {% empty %}
                    <li>No inhabitants found.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Water Tests</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>pH</th>
                        <th>Nitrite</th>
                        <th>Nitrate</th>
                        <th>Ammonia</th>
                    </tr>
                </thead>
                <tbody>
                    {% for watertest in object.watertests.all|slice:"7" %}
                        <tr>
                            <td>{{ watertest.test_date|date:"F j, Y" }}</td>
                            <td>{{ watertest.ph }}</td>
                            <td>{{ watertest.nitrite }}</td>
                            <td>{{ watertest.nitrate }}</td>
                            <td>{{ watertest.ammonia }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5">No water tests found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
